{% extends 'front/base.html.twig' %}

{% block title %}
    Toutes les annonces
{% endblock %}

{% block body %}
<h1>{{ 'pages.home.title'|trans }}</h1>
    <div class="container">
        <div class="row">
            {% for listing in listings %}
            {% include 'front/cards/_listing.html.twig' with {
                'listing': listing
            } %}
            {% endfor %}
        </div>
    </div>
    <div class="navigation d-flex justify-content-center mt-2">
        {{ knp_pagination_render(listings) }}
    </div>
{% endblock %}